.btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.35rem 0.75rem;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease-in, opacity 0.2s ease-out;
    border-radius: 0;

    &-primary {
        background-color: $color-primary;

        &:hover:before {
            position: absolute;
            content: '';
            width: 100%; 
            height: 100%;
            left: 0; 
            top: 0;
            background-color: rgba(0,0,0,0.12);
        }
    }

    &-raised {
        position: relative;
        box-shadow: 0 3px 1px 0 rgba(0,0,0,.4), 0 2px 2px 0 rgba(0,0,0,.34), 0 1px 5px 0 rgba(0,0,0,.32);

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 5px 0 rgba(0,0,0,.4), 0 8px 10px 1px rgba(0,0,0,.34), 0 3px 14px 2px rgba(0,0,0,.32);
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
        

        &:hover:after {
            opacity: 1;
        }
        &:active:after {
            opacity: 0;
        }
    }
}